license-eye header fix -c .licenserc.yaml || echo "go install github.com/apache/skywalking-eyes/cmd/license-eye@latest"
git pull
git status

export LLVM=1
export CC=clang

export KDIR="/lib/modules/$(uname -r)/build"

alias kbuild='make -C $KDIR M=$PWD'
alias kclean='make -C $KDIR M=$PWD clean'

export DKMS_NAME="hello-dkms"
export DKMS_VER="1.0"
