license-eye header fix -c .licenserc.yaml || echo "go install github.com/apache/skywalking-eyes/cmd/license-eye@latest"

export LLVM=1
export CC=clang

export KDIR="/lib/modules/$(uname -r)/build"

alias kbuild='make -C $KDIR M=$PWD'
alias kclean='make -C $KDIR M=$PWD clean'


alias install='PKG=$(sed -n "s/^PACKAGE_NAME=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); VER=$(sed -n "s/^PACKAGE_VERSION=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); MOD=$(sed -n "s/^BUILT_MODULE_NAME\\[[0-9]*\\]=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); MOD=${MOD:-${PKG%-dkms}}; sudo rsync -a --delete ./ /usr/src/$PKG-$VER/ && sudo dkms add -m $PKG -v $VER && sudo dkms build -m $PKG -v $VER && sudo dkms install -m $PKG -v $VER && sudo depmod -a'
alias update='PKG=$(sed -n "s/^PACKAGE_NAME=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); VER=$(sed -n "s/^PACKAGE_VERSION=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); sudo dkms build -m $PKG -v $VER && sudo dkms install -m $PKG -v $VER && sudo depmod -a'
alias uninstall='PKG=$(sed -n "s/^PACKAGE_NAME=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); VER=$(sed -n "s/^PACKAGE_VERSION=\"\\([^\"]*\\)\".*/\\1/p" dkms.conf); sudo dkms remove -m $PKG -v $VER --all'
